<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs Pet Depot</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://unpkg.com/vue/dist/vue.js" defer></script>
    <script src="app.js" defer></script>
</head>
<body>

    <div id="app">
        <div class="container-fluid">

            <!-- Site name -->
            <nav class="row navbar navbar-dark bg-dark">
                <a class="navbar-brand" v-text="sitename" href="#"></a>
                <button class="btn btn-outline-secondary btn-light"  v-on:click="showCheckout" v-if="showProduct">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    </svg>
                    <span>{{ cartItemCount }}</span>
                    Chekout
                </button>
                <button v-else class="btn btn-outline-secondary btn-light"  v-on:click="showCheckout">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-left-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path fill-rule="evenodd" d="M10.828 10.828a.5.5 0 0 1-.707 0L6.025 6.732V9.5a.5.5 0 0 1-1 0V5.525a.5.5 0 0 1 .5-.5H9.5a.5.5 0 0 1 0 1H6.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
                      </svg>
                      <span>Continue shopping</span>
                </button>
            </nav>           
 
            <div class="row justify-content-center align-items-center" v-if="showProduct">
                <div class="col-md-2 offset-md-1">
                    <figure>
                        <img v-bind:src="product.image">
                    </figure>
                </div>
                <div class="col-md-6 offset-md-2">
                    <h1 v-text="product.title"></h1>
                    <p v-html="product.description"></p>
                    <p>{{ product.price | formatPrice }}</p>
                    <button class="btn btn-primary" v-on:click="addToCart" v-if="canAddToCart">Add to cart</button>
                    <button disabled class="btn btn-secondary" v-on:click="addToCart" v-else>The product is over</button>
                </div>               
            </div>
            <div v-else class="row  justify-content-center align-items-center">
                <!-- ELSE -->
                <form class="col-8 mt-3" action="">
                    <fieldset>
                        <legend class="">Enter Your information</legend>
                        <div class="form-row mt-3">
                            <div class="form-group col-6">
                                <label for="firstName">First name</label>
                                <input id="firstName" class="form-control form-control-lg" type="text" placeholder="Ivanov" v-model.trim.lazy="order.firstName">
                            </div>

                            <div class="form-group col-6">
                                <label for="lastName">Last name</label>
                                <input id="lastName" class="form-control form-control-lg" type="text" placeholder="Ivan" v-model.trim.lazy="order.lastName">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" id="city" class="form-control form-control-lg" placeholder="Gorodec" v-model.trim.lazy="order.city">
                        </div>
                        <div class="form-group">
                            <label for="address">Addres</label>
                            <input type="text" id="address" class="form-control form-control-lg" placeholder="Lenina st., 12" v-model.trim.lazy="order.address">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="state">State</label>
                                <select id="state" class="form-control form-control-lg" v-model="order.state">
                                    <option selected disabled>State</option>
                                    <option v-for="(state, key) in states" v-bind:value="state.key + ' ' + state.value">
                                        {{ state.value }}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group col-6">
                                <label for="zip">ZIP/Postal code</label>
                                <input id="zip" type="text" class="form-control form-control-lg" v-model.number.lazy="order.zip">
                            </div>
                            
                        </div>

                        <div class="form-row">
                            <div class="form-group col-6">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" id="gift" class="form-check-input form-control-lg" v-model="order.gift" v-bind:true-value="order.sendGift" v-bind:false-value="order.dontSendGift">
                                    <label for="gift" class="form-check-label form-control-lg">Ship as Gift</label>
                                </div>
                            </div>

                            <div class="form-group col-6">
                                <div class="form-check form-check-inline col-6">
                                    <input type="radio" id="home" class="form-check-input form-control-lg" v-model="order.method" v-bind:value="order.home">
                                    <label for="home" class="form-check-label form-control-lg">Home</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" id="business" class="form-check-input form-control-lg" v-model="order.method" v-bind:value="order.business">
                                    <label for="business" class="form-check-label form-control-lg">Business</label>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary btn-lg btn-block" v-on:click="submitForm">Place order</button>
                    </fieldset>
                </form>

                <div class="col-8 mt-3">
                    <pre>
                        First name: {{ order.firstName }}
                         Last name: {{ order.lastName }}
                              City: {{ order.city }}
                           Address: {{ order.address }}
                             State: {{ order.state }}
                               ZIP: {{ order.zip }}
                            Method: {{ order.method }}
                              Gift: {{ order.gift }}
                    </pre>
                </div>

            </div>
            

            <div class="row"></div>
        </div>
    </div>
    
</body>
</html>